/**
 * Progress Bars
 */

.progress-title {
  font-size: 0.85em;
  line-height: 1.2em;
  display: block;
  margin-bottom: 0.7em;
}

/* Progress Bar: Chart */
.progress-chart {
  text-align: center;
  display: inline-block;

  .progress-title {
    margin-top: 10px;
  }

  .progress-bar {
    height: 93px;
    width: 93px;
    margin: 0 auto;
    position: relative;

    svg {
      height: 100%;
      display: block;
    }
  }
}

/* Progress Bar: Line */
.progress-line {
  margin-bottom: 20px;

  .progress-title {
    padding-right: 3.8em;
  }

  .progress-bar {
    width: 100%;
    height: 5px;
  }

  svg {
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 5px;
  }
}